$appBackgroundColor: #faf7f8;

$contrastTextColour: #fff;
$contrastBgColour: #fff;
$primaryColor-130: #0337f6;
$primaryColor-120: #0362f6;
$primaryColor: #007afc;

$primaryTextColor: #777;
$secondaryTextColor: #000;

$box-shadow: 0 8px 18px rgba(199, 199, 199, 0.2);

$border-color: #ddd;
$border-color-10: #efefef;

$hower-color: #faf7f8;
$sidemenu-transition-delay: 0.05s;

//Colors
$white: #fff;
$green: #4CAF50;
$orange: #ffc107;
$red: red;
